.idea/
.vs/
Temp/
Library/
*.csproj
*.sln
*.userprefs
*.dgml
*.sln.DotSettings.user
Assets/Scripts/UnityEngine/
build/
Builds/
*.csproj.user
Assets/Textures/sf03
Assets/Textures/sf05
obj/
*.csproj.DotSettings
Assets/Textures/sf03.meta
Assets/Textures/sf05.meta
